MYSQL_DATABASE=pacientes
MYSQL_USER=pacientes_user
MYSQL_PASSWORD=pacientes_pass
MYSQL_ROOT_PASSWORD=root_pass
SPRING_DATASOURCE_URL=jdbc:mysql://pacientes-datos:3306/pacientes?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=pacientes_user
SPRING_DATASOURCE_PASSWORD=pacientes_pass
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SERVER_PORT=8080
